@model Bombex.Models.Visitor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resident.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.SafetySticker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.SafetySticker)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
