@model IEnumerable<Bombex.Models.Subject>

@{
    ViewBag.Title = "Subject Details";
}

<h2>Subject Listing</h2>

<p>
    @Html.ActionLink("Add New Subject", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("System ID")
        </th>
        <th>
            @Html.Label("Employee ID")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.Label("Resident Visitor One")
        </th>
        <th>
            @Html.Label("Resident Visitor Two")
        </th>
        <th>
            @Html.Label("Unit Number")
        </th>
        <th>
            @Html.Label("Number of Family Members")
        </th>
        <th>
            @Html.Label("Card Number")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SysID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidentIDVisitor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidentIDVisitor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfFamilyMembers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resident.CardNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
